.table-container {
    width: 100%;
    height: 100px;
    overflow: auto;
  }
  .slds-cell-wrap {
    line-height: 1rem;
  }
  .slds-table_col {
    width: 100px;
  }
  .highlight-pending {
    background-color: red;
  }
  .highlight-inprogress {
    background-color: yellow;
  }
  .highlight-completed {
    background-color: green;
  }