.table-container {
    width: 100%;
    height: 250px;
    overflow: auto;
  }
  .slds-cell-wrap {
    line-height: 1rem;
  }
  .slds-table_col {
    width: 100px;
  }
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }